.timerContainer {
  display: flex;
  background-color: burlywood;
  gap: 32px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;

  @media (max-width: 1168px) {
    gap: 16px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 16px;
  }

  .imagesContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    max-width: 50%;

    @media (max-width: 768px) {
      max-width: 100%;
    }

    .we {
      border-radius: 16px;
      
      @media (max-width: 468px) {
        border-radius: 16px 16px 0 0;
      }
    }

    .spcode {
      display: none;
      border-radius: 0 0 16px 16px;

      @media (max-width: 468px) {
        display: grid;
      }
    }
  }

  .timerText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    h1 {
      font-size: 32px;

      @media (max-width: 1440px) {
        font-size: 28px;
      }

      @media (max-width: 768px) {
        font-size: 24px;
      }

      @media (max-width: 468px) {
        font-size: 20px;
      }
    }

    h2 {
      font-size: 24px;

      @media (max-width: 1440px) {
        font-size: 20px;
      }

      @media (max-width: 1168px) {
        font-size: 18px;
      }

      @media (max-width: 468px) {
        font-size: 16px;
      }
    }

    .time {
      display: flex;
      margin-top: 16px;
      font-weight: 700;
      gap: 8px;

      @media (max-width: 768px) {
        gap: 4px;
      }

      span {
        margin-bottom: 8px;
        font-size: 20px;

        @media (max-width: 1440px) {
          font-size: 16px;
        }

        @media (max-width: 1168px) {
          font-size: 10px;
        }

        @media (max-width: 768px) {
          font-size: 12px;
        }

        @media (max-width: 468px) {
          font-size: 10px;
        }
      }

      .secondsContainer {
        display: flex;
        position: relative;
        overflow: hidden;
        gap: 8px;

        .seconds {
          font-size: 20px;
          animation: slideIn 1s ease forwards;

          @media (max-width: 1440px) {
            font-size: 16px;
          }

          @media (max-width: 1168px) {
            font-size: 10px;
            gap: 4px;
          }

          @media (max-width: 768px) {
            font-size: 12px;
          }

          @media (max-width: 468px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}