.main {
  min-height: 100vh;
  margin: 64px;

  @media (max-width: 1168px) {
    margin: 32px;
  }

  @media (max-width: 768px) {
    margin: 16px;
  }

  .timerContainer {
    margin-inline: 64px;
    margin-bottom: 64px;

    @media (max-width: 1168px) {
      margin-inline: 32px;
      margin-bottom: 32px;
    }

    @media (max-width: 768px) {
      margin-inline: 16px;
    }
  }

  .polaroidContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 16px;

    @media (max-width: 840px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 568px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
